<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="regression exclude smoke">
    <groups>
      <run>
         <include name="regression"/>
        <exclude name="smoke"/>
      </run>
    </groups>

    <classes>

      <class name="org.example.tests.LoginTests"/>
      <class name="org.example.tests.CurrentBoardTests"/>

    </classes>
  </test>
  <test name="regression ">
    <groups>
      <run>
        <include name="regression"/>
      </run>
    </groups>

    <classes>

      <class name="org.example.tests.LoginTests"/>
      <class name="org.example.tests.CurrentBoardTests"/>

    </classes>
  </test>
  <test name="smoke,regression ">
    <groups>
      <run>
        <include name="regression"/>
        <include name="smoke"/>
      </run>
    </groups>

    <classes>

      <class name="org.example.tests.LoginTests"/>
      <class name="org.example.tests.CurrentBoardTests"/>

    </classes>
  </test>
  <test name="smoke">
    <groups>
      <run>
        <exclude name="regression"/>
        <include name="smoke"/>
      </run>
    </groups>

    <classes>

      <class name="org.example.tests.LoginTests"/>
      <class name="org.example.tests.CurrentBoardTests"/>

    </classes>
  </test>
</suite>